<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>apiServlet</servlet-name>
		<servlet-class>com.relay2.api.ApiServlet</servlet-class>		
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dpiServlet</servlet-name>
		<servlet-class>com.relay2.api.DpiServlet</servlet-class>		
		<load-on-startup>2</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>apiServlet</servlet-name>
		<url-pattern>/api.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dpiServlet</servlet-name>
		<url-pattern>/dpi.action</url-pattern>
	</servlet-mapping>

	<!-- Disables Servlet Container welcome file handling. Needed for compatibility with Servlet 3.0 and Tomcat 7.0 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>	

</web-app>